body{
  background: gold;
  font-family: tahoma, geneva,sans-serif
  font-size: bold;
  line-height:1.5;
  margin: 0;
}
ul{
  list-style-type: none;
}
.nav a{
  text-decoration: none;
}
.container{
  width: 80%
  margin: auto 5px;
  overflow: hidden;
}
.fa {
    margin-right: 10px;
}
h1{
  border-radius: 20px;
  background: skyblue;
  text-align: center;
}
h2{
  border-radius: 20px;
  background: coral;
  text-align: center;
}
@media (max width: 600px){
  
  }
}
  
