body{
  background: gold;
  font-family: tahoma, geneva,sans-serif
  font-size: bold 50px;
  line-height:1.5;
  margin: 0;
}

.boxes h4{
    display: flex;
    align-items: flex-start;
    gap: 10px;
}

.boxes h4 i{
    flex-shrink: 0;
    margin-top: 3px;
}
.container{
  width: 80%
  margin: auto;
  overflow: hidden;
}

h1{
  border-radius: 20px;
  background: skyblue;
  text-align: center;
}
h2{
  border-radius: 20px;
  background: coral;
  text-align: center;
}

@media (max-width: 768px){

    .boxes h4{
        display: flex;
        align-items: flex-start;
        gap: 10px;
    }

    .boxes h4 i{
        font-size: 20px;
        min-width: 25px;
    }
}
