body{
  background: #1a05e6;
  color: gold;
  font-size: 30px;
}

#contact{
  margin-left: 20px;
}

.contact-container{
    display: flex;
    gap: 40px;
    justify-content: space-between;
    flex-wrap: wrap;
}
