body{
  background: #1a05e6;
  color: gold;
  font-size: 30px;
}

.contact-form input,
.contact-form textarea{
    width: 100%;
    padding: 15px;
    margin-bottom: 15px;
    font-size: 16px;
    border-radius: 8px;
}

.contact-form textarea{
    height: 150px;
}

.contact-form{
    max-width: 600px;
    margin: auto;
}

#contact{
  margin-left: 20px;
}

.whatsapp-btn{
    display:inline-block;
    background:green;
    color:white;
    padding:12px 20px;
    text-decoration:none;
    border-radius:5px;
    margin-top:10px;
}

.contact-container{
    display: flex;
    gap: 40px;
    justify-content: space-between;
    flex-wrap: wrap;
    max-height: 10px;
}
