@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@400;700&display=swap');
*{
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}
body{
  background-image: url("./logo.jpg");
  background-color: brown;
  background-size: 500px 1000px;
  background-repeat: no-repeat;
  background-position: center-center;
  font-family: Arial black,Gadget,Sans-Serif;
  font-size: 17px;
  line-height: 1.5;
  color: black;
}
a:hover{
  color: red
}
a:visited{
  color: yellow;
}
img{
  max-width: 90%;
  max-height: 200%
}
h1 h3{
  margin-bottom: 15px;
}
ul{
  list-style-type: none;
}
.container{
  max-width: 1100px;
  margin: 0 auto;
  padding: 0 30px;
  display: flex;
}
 .logo-container{
    display: flex;
    align-items: center;
    gap: 10px;
    background: #0a1f67;
    color: grey;
    height: 90px;
}

.logo-container img{
    width: 150px;
    height: 150px;
}
 .show a{
   text-decoration: none;
 }
 .nav{
   display: flex;
   background: black;
   height: 20px;
   justify-content: end;
 }
 .show ul li{
   margin-left: 20px;
   margin-right: 5px;
   justify-content: space-between;
   align-items: end;
 }
 .boxes .container{
   display: flex;
   justify-content: space-between;
 }
 .box{
   flex: 1;
   background: #0a51cc;
   border-radius: 10px;
   margin: 20px 10px;
   box-shadow: 0 0 6px rgba(0,0,0,0.6);
   padding: auto;
   max-width: 1100px;
   max-height: 500;
 }
 @media(max-width:768px){
   .boxes .container{
    display: block;
    text-align: center;
   }
 }

